$body-bg-color: #ECECEC;
$container-bg-color: #FFF;
$container-shadow: 2px 2px 4px 0 rgba(0,0,0,0.15);

body {
  		background-color: $body-bg-color;
}

#pageContainer {
  maximum-width: 700px;
  background-color: $container-bg-color;
  padding: 15px 80px 15px 15px;
  margin-top: 10px;
  box-shadow: $container-shadow ;
  button {
    cursor: pointer;
  }
}

.handle {
  margin-right: 10px;
}

#ul {
  list-style: none;
  padding: 0px 0px 0px 0px;
  font-size: 18px;
  font-weight: 800;
}
